.wrapper {
    height: 80vh;
}

.current-issue-card {
    height: 100%;
}

.issues-list {
    height: 100%;
    background-color: #f8f8f6;
}

.card-content {
    font-size: 14px;
}

.react-bootstrap-table {
    height: 80vh;
    overflow-y: scroll;
}
.react-bootstrap-table.thead {
    position: sticky;
}